
<!DOCTYPE html>
<html>
  <head>
    <meta charaset="UTF-8"><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <title>Mercari</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>


<!-- <div id="wrapper1">
  <div class="single-container">
        <header class="single-header">
          <h1>
                        <a href="https://www.mercari.com/jp/">
                <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?249128278" alt="mercari">
              </a>
                    </h1>


        </header>

        <main class="single-main">
            <section class="l-single-container">
      <h2 class="l-single-head">新規会員登録</h2>

      <div class="l-single-inner">
        <div class="l-single-content">

          <button id="facebook-login" class="btn-default btn-sns btn-sns-facebook">
            <i class="icon-facebook"></i>
            Facebookで登録
          </button>
          <button id="google-login" class="btn-default btn-sns btn-sns-google">
            <i class="icon-google-plus"></i>
            Googleで登録
          </button>
          <a href="" class="btn-default btn-mail">
            <i class="icon-mail"></i>
            メールアドレスで登録
          </a>
        </div>
      </div>
    </section>


      <form id="login_form_facebook" action="/jp/signup/facebook/" method="POST" novalidate="novalidate">
      <input type="hidden" name="__csrf_value" value="e203f579dbecdb67b8630f311595e1117ef3310ca2171b49818de60279ba512a366bb1a3c087f418452d44c9b51dc47728e9c4de5c08939b83fad3b88385bec0f">
      <input type="hidden" name="nickname" value="">
      <input type="hidden" name="email" value="">
      <input type="hidden" name="facebook_user_id" value="">
      <input type="hidden" name="facebook_access_token" value="">
      <input type="hidden" name="login_type" value="facebook">
        </form>

      <form id="login_form_google" action="/jp/signup/google/" method="POST" novalidate="novalidate">
      <input type="hidden" name="__csrf_value" value="e203f579dbecdb67b8630f311595e1117ef3310ca2171b49818de60279ba512a366bb1a3c087f418452d44c9b51dc47728e9c4de5c08939b83fad3b88385bec0f">
      <input type="hidden" name="nickname" value="">
      <input type="hidden" name="email" value="">
      <input type="hidden" name="google_user_id" value="">
      <input type="hidden" name="google_access_token" value="">
      <input type="hidden" name="login_type" value="google">
        </form>
    <input type="hidden" id="google_client_id" value="238694260676-l0gp5j3hs9p8l2hjmnt126q0b4iin34r.apps.googleusercontent.com">
    <input type="hidden" id="facebook_app_id" value="466308336793848">
        </main>
  </div>
</div>
 -->

<!-- <div id="wrapper2"> -->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>



         <div class="wrapper1">

          <div class="single-container">
      <header class="single-header">
        <h1>
                      <a href="https://www.mercari.com/jp/">
              <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?249128278" alt="mercari">
            </a>
                  </h1>
                 <nav class="progress-bar signup-bar">
    <ol class="clearfix">
      <li class="active">
        会員情報
        <div class="progress-status"></div>
      </li>
      <li class="">
        電話番号認証
        <div class="progress-status"></div>
      </li>
      <li class="">
        住所入力
        <div class="progress-status"></div>
      </li>
      <li class="">
        支払い方法
        <div class="progress-status"></div>
      </li>
      <li class="">
        完了
        <div class="progress-status-last"></div>
      </li>
    </ol>
  </nav>


        </header>

      <main class="single-main">
          <section class="l-single-container">
    <h2 class="l-chapter-head">会員情報入力</h2>
      <div class="l-single-content">



        <div class="form-group">
                 <%= f.label :nickname, "ニックネーム" %>
         <span class="form-require">必須</span>
         <%= f.text_field :nickname, autofocus: true, class: 'input-default', placeholder: "例）メルカリ太郎" %>
                 </div>


                <div class="form-group">
                  <%= f.label :email, "メールアドレス" %>
                  <span class="form-require">必須</span>
                  <%= f.email_field :email, autofocus: true, class: 'input-default', placeholder: "PC・携帯どちらでも可" %>

                  </div>


                          <div class="form-group">
                  <%= f.label :password, "パスワード"%>
                  <span class="form-require">必須</span>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password", class: 'input-default' %>

                      </div>

                    <div class="form-group">
                      <%= f.label :password_confirmation %> <span class="form-require">必須</span><br />
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input-default'%>

                      </div>
                      <button type="submit" class="btn-default btn-red btn-info1">次へ進む</button>
                    </div>
                  </section>
                </main>
              </div>
                    </div>


<div class="wrapper2">

<div class="single-container">
      <header class="single-header">
        <h1>
                      <a href="https://www.mercari.com/jp/">
              <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?249128278" alt="mercari">
            </a>
                  </h1>
                 <nav class="progress-bar signup-bar">
    <ol class="clearfix">
      <li class="through">
        会員情報
        <div class="progress-status" id="aa"></div>
      </li>
      <li class="active">
        電話番号認証
        <div class="progress-status"></div>
      </li>
      <li class="">
        住所入力
        <div class="progress-status"></div>
      </li>
      <li class="">
        支払い方法
        <div class="progress-status"></div>
      </li>
      <li class="">
        完了
        <div class="progress-status-last"></div>
      </li>
    </ol>
  </nav>


        </header>

      <main class="single-main">
          <section class="l-single-container">
    <h2 class="l-chapter-head">携帯電話の番号を入力</h2>

      <div class="l-single-content">




                  <div class="form-group">
                <%= f.label :telephone, "携帯電話の番号を入力" %>
                <%= f.telephone_field :telephone, autofocus: true, class: 'input-default', placeholder: "例）09012345678"%>
                  </div>
                  <button type="submit" class="btn-default btn-red btn-info2">次へ進む</button>
                </div>
              </section>
            </main>
          </div>
</div>



                    <div class="wrapper3">
                      <div class="single-container">
      <header class="single-header">
        <h1>
                      <a href="https://www.mercari.com/jp/">
              <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?249128278" alt="mercari">
            </a>
                  </h1>
                  <nav class="progress-bar signup-bar">
    <ol class="clearfix">
      <li class="through">
        会員情報
        <div class="progress-status" id="aa"></div>
      </li>
      <li class="through">
        電話番号認証
        <div class="progress-status" id="aa"></div>
      </li>
      <li class="active">
        住所入力
        <div class="progress-status"></div>
      </li>
      <li class="">
        支払い方法
        <div class="progress-status"></div>
      </li>
      <li class="">
        完了
        <div class="progress-status-last"></div>
      </li>
    </ol>
  </nav>

        </header>

      <main class="single-main">
          <section class="l-single-container">
    <h2 class="l-chapter-head">住所入力</h2>

      <div class="l-single-content">


                   <div class="form-group">

         <span class="form-require">必須</span>
         <%= f.label :family_name, "お名前" %>
         <%= f.text_field :family_name, autofocus: true, class: 'input-default', placeholder: "例）メルカリ" %>
         <%= f.text_field :first_name, autofocus: true, class: 'input-default', placeholder: "例）太郎" %>
                 </div>

                 <div class="form-group">

            <span class="form-require">必須</span>
         <%= f.label :family_name, "お名前カナ" %>
         <%= f.text_field :family_name_kana, autofocus: true, class: 'input-default', placeholder: "例）メルカリ" %>
         <%= f.text_field :first_name_kana, autofocus: true, class: 'input-default', placeholder: "例）タロウ" %>
                 </div>

<div class="form-group">
  <span class="form-require">必須</span>
         <%= f.label :postal_code, "郵便番号" %>
         <%= f.text_field :postal_code, autofocus: true, class: 'input-default', placeholder: "例）123-4567" %>
        </div>


<div class="form-group">
  <span class="form-require">必須</span>
         <%= f.label :city, "市区町村" %>
         <%= f.text_field :city, autofocus: true, class: 'input-default', placeholder: "例）横浜市緑区" %>
        </div>

<div class="form-group">
  <span class="form-require">必須</span>
         <%= f.label :address1, "番地" %>
         <%= f.text_field :address1, autofocus: true, class: 'input-default', placeholder:"例）青山1−1−1" %>
        </div>

        <div class="form-group">
  <span class="form-require">必須</span>
         <%= f.label :address2, "建物名" %>
         <%= f.text_field :address2, autofocus: true, class: 'input-default', placeholder: "例）柳ビル103" %>
        </div>

                <input type="hidden" value="" name="after_save_callback">

                <div class="form-group">
          <div class="g-recaptcha signup-recaptcha" data-sitekey="6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&amp;co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&amp;hl=ja&amp;v=v1538375507325&amp;size=normal&amp;cb=vy7rxndzguf" width="304" height="78" role="presentation" name="a-urvaj3gw8x3h" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div></div>
                  </div>

        <button type="submit" class="btn-default btn-red btn-info3">次へ進む</button>
      </div>
    </section>
  </main>
</div>
      </div>
<!--
      <div class="wrapper4">
<div class="single-container">
      <header class="single-header">
        <h1>
                      <a href="https://www.mercari.com/jp/">
              <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?249128278" alt="mercari">
            </a>
                  </h1>


  <nav class="progress-bar signup-bar">
    <ol class="clearfix">
      <li class="through">
        会員情報
        <div class="progress-status" id="aa"></div>
      </li>
      <li class="through">
        電話番号認証
        <div class="progress-status" id="aa"></div>
      </li>
      <li class="through">
        住所入力
        <div class="progress-status" id="aa"></div>
      </li>
      <li class="active">
        支払い方法
        <div class="progress-status"></div>
      </li>
      <li class="">
        完了
        <div class="progress-status-last"></div>
      </li>
    </ol>
  </nav>
        </header>

      <main class="single-main">
          <section class="l-single-container">
    <h2 class="l-chapter-head">支払い方法</h2>



<form data-adyen-id="card-form" action="https://www.mercari.com/jp/mypage/card/add/" method="POST" id="add-card-form" class="l-single-inner" novalidate="novalidate">
  <input type="hidden" name="__csrf_value" value="">

  <div class="l-single-content">

        <div class="form-group">
      <label for="payment_card_no">カード番号</label>
      <span class="form-require">必須</span>
      <input type="text" value="" id="payment_card_no" placeholder="半角数字のみ" data-input-type="card" class="input-default" maxlength="19">
      <ul id="card-no-error-wrapper" class="has-error-text"></ul>

      <ul class="signup-card-list">
        <li>
          <img src="https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2682216493" width="49" height="20" alt="">
        </li>
        <li>
          <img src="https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2682216493" width="34" height="20" alt="">
        </li>
        <li>
          <img src="https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?2682216493" width="30" height="20" alt="">
        </li>
        <li>
          <img src="https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2682216493" width="32" height="20" alt="">
        </li>
        <li>
          <img src="https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?2682216493" width="32" height="20" alt="">
        </li>
        <li>
          <img src="https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg?2682216493" width="32" height="20" alt="">
        </li>
      </ul>
    </div>

        <div class="form-group signup-form-expire">
      <label for="payment_card_expire">有効期限</label>
      <span class="form-require">必須</span>
      <br>
            <div class="select-wrap">
        <select id="payment_card_expire_mm" class="select-default">
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                  </select>
        <i class="fas fa-angle-down"></i>
      </div>
      <span>月</span>
      <ul id="expire-mm-error-wrapper" class="has-error-text"></ul>
            <div class="select-wrap">
        <select id="payment_card_expire_yy" class="select-default">
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                  </select>
        <i class="fas fa-angle-down"></i>
      </div>
      <span>年</span>
      <ul id="expire-yy-error-wrapper" class="has-error-text"></ul>
    </div>

        <div class="form-group">
      <label for="payment_card_security_code">セキュリティコード</label>
      <span class="form-require">必須</span>
      <input type="number" value="" id="payment_card_security_code" placeholder="カード背面4桁もしくは3桁の番号" class="input-default">
      <ul id="security-code-error-wrapper" class="has-error-text"></ul>




            <div class="signup-seqcode">
        <div class="signup-seqcode-text" data-js="show-tips-toggle">
          <span class="form-question">?</span>カード裏面の番号とは？
        </div>
        <div class="signup-seqcode-info" data-js="show-tips-content">
          カードの裏面をご参照ください。
          <br>
          <img src="https://www-mercari-jp.akamaized.net/assets/img/signup/seq-card.png?2682216493" alt="" width="240">
        </div>
      </div>
    </div>




        <input type="hidden" id="user_id" name="user_id" value="244666991">

        <input type="hidden" id="encrypted_card_data" name="encrypted_card_data">

        <p id="primary-error" class="has-error-text"></p>

                <input type="hidden" value="" name="after_save_callback">
      <button type="button" id="submit-button" class="btn-default btn-red btn-info4">次へ</button>

  </div>
      <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-KLPT5L5"></script><script src="https://p01.mul-pay.jp/ext/js/token.js" async=""></script>
    <script src="//www-mercari-jp.akamaized.net/assets/js/get_gmopg_card_token.js?710670344" async=""></script>
<script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/880621981/?random=1538381418787&amp;cv=9&amp;fst=1538381418787&amp;num=1&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=900&amp;u_w=1440&amp;u_ah=900&amp;u_aw=1440&amp;u_cd=24&amp;u_his=30&amp;u_tz=540&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=G9o&amp;sendb=1&amp;frm=0&amp;url=https%3A%2F%2Fwww.mercari.com%2Fjp%2Fmypage%2Fcard%2Fcreate%2F&amp;ref=https%3A%2F%2Fwww.mercari.com%2Fjp%2Freauthenticate%2F&amp;tiba=%E3%82%AF%E3%83%AC%E3%82%B8%E3%83%83%E3%83%88%E3%82%AB%E3%83%BC%E3%83%89%E6%83%85%E5%A0%B1%E5%85%A5%E5%8A%9B%20-%20%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%A7%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%20%E3%83%95%E3%83%AA%E3%83%9E&amp;async=1&amp;rfmt=3&amp;fmt=4"></script></form>

</div>
  </section>
</div>

</main>
          </div>
</div>


<div class="wrapper5">
<div class="single-container">
      <header class="single-header">
        <h1>
                      <a href="https://www.mercari.com/jp/">
              <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?249128278" alt="mercari">
            </a>
                  </h1>

  <nav class="progress-bar signup-bar">
    <ol class="clearfix">
      <li class="through">
        会員情報
        <div class="progress-status" id="aa"></div>
      </li>
      <li class="through">
        電話番号認証
        <div class="progress-status" id="aa"></div>
      </li>
      <li class="through">
        住所入力
        <div class="progress-status" id="aa"></div>
      </li>
      <li class="through">
        支払い方法
        <div class="progress-status" id="aa"></div>
      </li>
      <li class="active">
        完了
        <div class="progress-status-last" id="bb"></div>
      </li>
    </ol>
  </nav>
        </header>

      <main class="single-main">
          <section class="l-single-container">
    <h2 class="l-chapter-head">完了</h2>



<div class="l-chapter-container">
        <form action="" method="POST" class="l-single-inner" novalidate="novalidate">
      <div class="l-single-content">
        <button type="submit" class="btn-default btn-red">登録が完了しました</button>
      </div>
    </form>


</div>






</div>
 -->




<% end %>
</body>
</html>

